asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
boltons @ file:///C:/ci_311/boltons_1677729932371/work
brotlipy==0.7.0
certifi @ file:///C:/b/abs_4a0polqwty/croot/certifi_1683875377622/work/certifi
cffi @ file:///C:/ci_311/cffi_1676423759166/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
chromedriver-autoinstaller==0.6.2
colorama==0.4.6
comm==0.1.3
conda @ file:///C:/b/abs_b5q92oum8h/croot/conda_1689272261421/work
conda-content-trust @ file:///C:/ci_311/conda-content-trust_1676467587370/work
conda-libmamba-solver @ file:///C:/b/abs_5a9xvt2a3k/croot/conda-libmamba-solver_1685032355900/work/src
conda-package-handling @ file:///C:/b/abs_ce4_vcfd0y/croot/conda-package-handling_1685024800103/work
conda_package_streaming @ file:///C:/b/abs_88a7k_wmm1/croot/conda-package-streaming_1685019697115/work
cryptography @ file:///C:/b/abs_b28tzldafl/croot/cryptography_1686613103834/work
debugpy==1.6.7
decorator==5.1.1
executing==1.2.0
h11==0.14.0
idna @ file:///C:/ci_311/idna_1676424932545/work
ipykernel==6.23.0
ipython==8.13.2
jedi==0.18.2
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jupyter_client==8.2.0
jupyter_core==5.3.0
libmambapy @ file:///C:/b/abs_f0tnqlkcbn/croot/mamba-split_1685993165748/work/libmambapy
matplotlib-inline==0.1.6
menuinst @ file:///C:/ci_311/menuinst_1678730372782/work
nest-asyncio==1.5.6
numpy==1.26.2
opencv-python==4.8.1.78
outcome==1.3.0.post0
packaging==23.1
parso==0.8.3
pickleshare==0.7.5
platformdirs==3.5.1
pluggy @ file:///C:/ci_311/pluggy_1676422178143/work
prompt-toolkit==3.0.38
psutil==5.9.5
pure-eval==0.2.2
pycosat @ file:///C:/ci_311/pycosat_1676438455539/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.15.1
pyOpenSSL @ file:///C:/b/abs_de215ipd18/croot/pyopenssl_1678965319166/work
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
python-dateutil==2.8.2
python-dotenv==1.0.0
pywin32==306
pyzmq==25.0.2
requests @ file:///C:/b/abs_41owkd5ymz/croot/requests_1682607524657/work
ruamel.yaml @ file:///C:/ci_311/ruamel.yaml_1676439214109/work
selenium==4.15.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
stack-data==0.6.2
toolz @ file:///C:/ci_311/toolz_1676431406517/work
tornado==6.3.1
tqdm @ file:///C:/b/abs_f76j9hg7pv/croot/tqdm_1679561871187/work
traitlets==5.9.0
trio==0.23.1
trio-websocket==0.11.1
urllib3 @ file:///C:/b/abs_889_loyqv4/croot/urllib3_1686163174463/work
wcwidth==0.2.6
webdriver-manager==4.0.1
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
wsproto==1.2.0
zstandard==0.19.0
